:root {
  /* fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* text-colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  /* background color */
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #2F303A;
  --third-background-color: #F5F4FA;
  --portfolio-item-bg-cl: rgba(33, 150, 243, 0.9);
  /* icon colors */
  --icon-cl: #AFB1B8;
  --icon-footer-cl: #44454E;
  /* border color */
  --portfolio-border-cl: #ECECEC;
  --footer-form-border-cl: rgba(255, 255, 255, 0.3);
  /* shadow colors */
  --shadow-cl: rgba(0, 0, 0, 0.15);
  /* animation */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

/*#region Placeholders*/
.hero__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}

.hero__btn, .modal-form-btn {
  border: 0;
  -webkit-box-shadow: 0px 4px 4px var(--shadow-cl);
          box-shadow: 0px 4px 4px var(--shadow-cl);
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero__btn:hover, .hero__btn:focus, .modal-form-btn:hover,
.modal-form-btn:focus,
.hero__btn:focus,
.hero__btn:hover,
.modal-form-btn:focus,
.modal-form-btn:hover {
  background-color: #0B5E9E;
}

/*#endregion*/
/*#region HEADER*/
.page-header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--portfolio-border-cl);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: #000000;
}

.page-header__logo {
  margin-right: 93px;
}

/* site-nav */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* UNDERLINE*/
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item {
  position: relative;
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0 32px 0;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
  position: relative;
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
}

/* contact links */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
}

/*#endregion*/
/*#region SECTION HERO*/
.hero {
  padding: 200px 0px 200px 0px;
  text-align: center;
}

.hero--overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header-bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  color: var(--primary-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Modalka */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: var(--primary-background-color);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.modal-x {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #000;
  width: 30px;
  height: 30px;
  background-color: var(--primary-background-color);
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-x:hover, .modal-x:focus {
  fill: var(--accent-color);
}

/* Modal-form */
.modal-form__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.modal-form__label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form__input:focus, .modal-form__input:active {
  outline: 0;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form__field:focus-within .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__comment:focus, .modal-form__comment:active {
  outline: 0;
  border-color: var(--accent-color);
}

.checkbox {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.checkbox__standart-icon {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.checkbox__custom-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--primary-background-color);
  border: 2px solid #2a2a2a;
}

.checkbox__standart-icon:focus + .checkbox__custom-icon {
  border-color: var(--accent-color);
}

.checkbox__standart-icon:checked + .checkbox__custom-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/icons.svg#icon-check");
  background-position: center;
  background-size: contain;
  background-origin: border-box;
}

.checkbox__label {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.checkbox__link {
  color: var(--accent-color);
}

/*#endregion*/
/*# sourceMappingURL=main.css.map */