/*#region SECTION FEATURES*/
.features {
    padding: 94px 0px 94px 0px;

    &__container {
        @extend %container;
    }

    &__title--visually-hidden {
        @extend %visually-hidden;
    }
}

.feature {
   @extend %list;
   @extend %grid;
    
    &__item {
      --items: 4;
      @extend %grid-item;
    }
    
    &__item:nth-child(4n) {
        margin-right: 0;
    }

    &__item-group {
        @include centeredFlex(flex);

        height: 120px;
        margin-bottom: 30px;
        background-color: var(--third-background-color);
    }

    &__item-subtitle {
        color: var(--title-text-color);
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &__item-text {
        margin-top: 14px;
        margin-bottom: 0;
    }
}
/*#endregion*/