/*#region HEADER*/
.page-header {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--portfolio-border-cl);

    &__container {
        @include centeredFlex (flex);

        @extend %container;
    }
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    &__web {
        color: var(--accent-color);
    }
  
    &__studio {
        color: #000000;
    }
}

.page-header__logo {
    margin-right: 93px;
}

/* site-nav */
.site-nav {
    @include centeredFlex (flex);

    &__list {
       @include centeredFlex (flex);

       padding: 0;
       margin: 0;
       list-style: none;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__item {
        position: relative;
    }

    &__link {
        display: block;

        color: var(--title-text-color);
        text-decoration: none;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        padding: 32px 0 32px 0;

        transition: color var(--transition-duration) var(--transition-timing-function);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    &__link--current {
        color: var(--accent-color);
        position: relative;
    }
    /* UNDERLINE*/

    &__link--current::after {
       content: '';
       position: absolute;
       left: 0;
       bottom: 0;

       display: block;

       width: 100%;
       height: 5px;
       background-color: var(--accent-color);
    }
}

/* contact links */
.contacts {
    @include centeredFlex (flex);

    margin-left: auto;

    padding: 0;
    list-style: none;

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        @include centeredFlex (flex);

        color: var(--primary-text-color);
        fill: var(--primary-text-color);
        text-decoration: none;
        letter-spacing: 0.02em;
        font-weight: 500;

        transition: 
        color var(--transition-duration) var(--transition-timing-function),
        fill var(--transition-duration) var(--transition-timing-function);
    }
    
    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    
    &__icon {
        margin-right: 10px;
    }
}
 /*#endregion*/